footer {
    position: relative;
    top: 250px;
    width: 100%;
    height: 89px;
    background: #f7f7f7;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  }
  
  .footer-title {
    position: relative;
    width: fit-content;
    top: 23px;
    left: 17px;
    font-weight: 300;
    font-size: $principal-tittle-font-size;
    line-height: 37px;
    color: $principal-title-color;
  
    span{
      display: none;
    }
  }
  
  .footer-subtitle {
    position: relative;
    width: fit-content;
    top: 23px;
    left: 17px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #a5a5a5;
  }
  
  .twitter {
    position: absolute;
    top: 33px;
    right: 74px;
    height: 24px;
    width: 24px;
    background-image: url("../images/Twitter.png");
    background-size: cover;
    background-position: center center;
  }
  
  .facebook {
    position: absolute;
    top: 33px;
    right: 30px;
    height: 24px;
    width: 24px;
    background-image: url("../images/Facebook.png");
    background-size: cover;
    background-position: center center;
  }