/*----------header + nav-----------*/

header {
    top: 0;
    position: fixed;
    height: fit-content;
    min-height: 70px;
    width: 100%;
    background: $header-bg-color;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
    font-size: $header-font-size;
    z-index: 2;
  }
  
  .menu_bar {
    width: 100%;
    height: max-content;

    a{
      display: block;
      width: fit-content;
    }
  
    h2 {
      width: fit-content;
      font-style: normal;
      font-weight: 300;
      font-size: $principal-tittle-font-size;
      line-height: 37px;
      color: $principal-title-color;
      margin-top: 17px;
      margin-left: 25px;
  
      span {
        display: none;
      }
    }
  
    .icon {
      position: absolute;
      right: 30px;
      background: none;
    }
    .icon-1 {
      top: 29px;
      width: 20px;
      height: 12px;
      background-image: url("../images/Menu.png");
      background-size: cover;
    }
    .icon-2 {
      display: none;
      top: 27px;
      width: 15.56px;
      height: 15.56px;
      background-image: url("../images/Cruz.png");
      background-size: cover;
    }
  }
  
  .navbar {
    display: none;
    margin-top: 6px;
    padding-top: 26px;
    margin-bottom: 33.65px;
    a {
      margin-top: 14px;
      margin-left: 25px;
      font-size: $nav-font-size;
      line-height: 1em;
      text-align: center;
      letter-spacing: 3.28px;
      text-transform: uppercase;
      color: $nav-links-color;
      text-decoration: none;
      border-bottom: 4px solid transparent;
    }
    a:hover {
      color: $nav-links-color-hover;
    }
  }
  
  #return-btn{
    @include return-btn-text;
    @include circle;
    transform: scale(0.75); 
    position: fixed;
    bottom:35px;
    right: 33px;
    background-color:$third-circle-color;
    transition: transform 300ms;
  }
 
  #progress-bar{
    position: fixed;
    top: 70px;
    width: 0%;
    height: 5px;
    background-color: $progress-bar-color;
    z-index: 3;
  }

  #close-icon{
    height: 20px;
    width: 20px;
    top:5px;
    left:260px;
    background-image: url("../images/CloseIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .subscribe{
    display: none;
    position: absolute;
    top:80px;
    right:20px;
    height: 312px;
    width:293px;
    background-color: rgba($third-circle-color,0.6);
    border: 2px solid $third-circle-color;
    border-radius: 25px;
  }

  .subscribe-title{
    margin:8px auto 0;
    font-family: $paragraph-font-family;
    font-size: $suscribe-title-font-size;
    color: $suscribe-title-font-color;
    text-align: center;
  }

  .label-email-subscribe {
    position: relative;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 2px;
    color: black;
    top: 2px;
    left:25.5px;
  }

  .input-subscribe {
    position: relative;
    width: 238px;
    left: 25.5px;
    border: none;
    border-bottom: 1px solid #95989a;
    outline: none;
  }

  .input-subscribe.invalid {
    border-bottom: 1px solid red;
  }

  .data-directive-subscribe {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 10px;
    left: 11.5px;
    text-align: justify;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #707070;
    width: 265px;
    max-height: 144px;
    padding-left: 35px;
    padding-right: 35px;
  }
  
  /* Hide the browser's default checkbox */
  .data-directive-subscribe input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    z-index: 1;
  }
  
  /* Create a custom checkbox */
  .subscribe-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #95989a;
    border-radius: 4px;
  }
  
  .subscribe-checkmark.invalid {
    border: 1px solid red;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .subscribe-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .data-directive-subscribe input:checked ~ .subscribe-checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .data-directive-subscribe .subscribe-checkmark:after {
    left: 6px;
    top: 1px;
    width: 4px;
    height: 13px;
    border: solid $third-circle-color;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .subscribe-form-submit {
    @include section-3-buttons;
    background: $subscribe-button-color;
    box-shadow: 5px 10px 14px rgba($subscribe-button-color, 0.29);
    width: 136px;
    height: 43px;
    margin: 17px auto 10px;
    transition: background ease-in-out 500ms;
    left:79px;
  }
  
  .subscribe-form-submit:hover {
    background-color: white;
    color: $subscribe-button-color;
    border: 1px solid $subscribe-button-color;
    transition: background ease-in-out 500ms;
  }
  .messages.subscribe-position {
    top:8px;
    left: 0;
    width: 293px;
  }
  .messages.subscribe-position:after {
    left:266px;
  }

  

/*----------Big Screens >= 1000px----------*/

  @media only screen and (min-width: 1000px) {
  
    .navbar {
      display: flex;
    }
  
    .icon {
      display: none;
    }
  
    .menu_bar {
      margin-right: 30px;
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h2 {
        margin-top: 0;
        display: inline;
  
        span {
          display: inline;
        }
      }
    }
  
    .navbar {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      li {
        display: flex;
  
        margin-right: 105px;
  
        a {
          padding: 31px 0 24px;
          height: max-content;
          margin: 0;
        }
        a:hover {
          transition: all 250ms ease-in;
          border-bottom: 4px solid $principal-title-color;
          color: $nav-links-color-hover;
        }
      }
    }
    #return-btn{
      @include return-btn-text;
      @include circle; 
      transform: scale(1.00);
      position: fixed;
      bottom:50px;
      right: 33px;
      background-color:$third-circle-color;
      transition: transform 300ms;
    }
    #return-btn:hover {
      text-shadow: 0 0 2px black;
      transform: scale(1.25);
      box-shadow: 0px 0px 35px 10px rgba($section3-box3-button-color, 0.9);
      transition: all 500ms;
      
    }
  }