/*----------header + nav-----------*/

header {
    top: 0;
    position: fixed;
    height: fit-content;
    min-height: 70px;
    width: 100%;
    background: $header-bg-color;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
    font-size: $header-font-size;
    z-index: 2;
  }
  
  .menu_bar {
    width: 100%;
    height: max-content;

    a{
      display: block;
      width: fit-content;
    }
  
    h2 {
      width: fit-content;
      font-style: normal;
      font-weight: 300;
      font-size: $principal-tittle-font-size;
      line-height: 37px;
      color: $principal-title-color;
      margin-top: 17px;
      margin-left: 25px;
  
      span {
        display: none;
      }
    }
  
    .icon {
      position: absolute;
      right: 30px;
      background: none;
    }
    .icon-1 {
      top: 29px;
      width: 20px;
      height: 12px;
      background-image: url("../images/Menu.png");
      background-size: cover;
    }
    .icon-2 {
      display: none;
      top: 27px;
      width: 15.56px;
      height: 15.56px;
      background-image: url("../images/Cruz.png");
      background-size: cover;
    }
  }
  
  .navbar {
    display: none;
    margin-top: 6px;
    padding-top: 26px;
    margin-bottom: 33.65px;
    a {
      margin-top: 14px;
      margin-left: 25px;
      font-size: $nav-font-size;
      line-height: 1em;
      text-align: center;
      letter-spacing: 3.28px;
      text-transform: uppercase;
      color: $nav-links-color;
      text-decoration: none;
      border-bottom: 4px solid transparent;
    }
    a:hover {
      color: $nav-links-color-hover;
    }
  }
  
  #return-btn{
    @include return-btn-text;
    @include circle;
    transform: scale(0.75); 
    position: fixed;
    bottom:35px;
    right: 33px;
    background-color:$third-circle-color;
    transition: transform 300ms;
  }
  #return-btn:hover {
    text-shadow: 0 0 2px black;
    transform: scale(1.00);
    box-shadow: 0px 0px 35px 10px rgba($section3-box3-button-color, 0.9);
    transition: all 500ms;
    
  }
  #progress-bar{
    position: fixed;
    top: 70px;
    width: 0%;
    height: 5px;
    background-color: $progress-bar-color;
    z-index: 3;
  }

/*----------Big Screens >= 1000px----------*/

  @media only screen and (min-width: 1000px) {
  
    .navbar {
      display: flex;
    }
  
    .icon {
      display: none;
    }
  
    .menu_bar {
      margin-right: 30px;
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h2 {
        margin-top: 0;
        display: inline;
  
        span {
          display: inline;
        }
      }
    }
  
    .navbar {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      li {
        display: flex;
  
        margin-right: 105px;
  
        a {
          padding: 31px 0 24px;
          height: max-content;
          margin: 0;
        }
        a:hover {
          transition: all 250ms ease-in;
          border-bottom: 4px solid $principal-title-color;
          color: $nav-links-color-hover;
        }
      }
    }
    #return-btn{
      @include return-btn-text;
      @include circle; 
      transform: scale(1.00);
      position: fixed;
      bottom:50px;
      right: 33px;
      background-color:$third-circle-color;
      transition: transform 300ms;
    }
    #return-btn:hover {
      text-shadow: 0 0 2px black;
      transform: scale(1.25);
      box-shadow: 0px 0px 35px 10px rgba($section3-box3-button-color, 0.9);
      transition: all 500ms;
      
    }
  }