/*Variables*/
$heading-font-family: "Raleway";
$paragraph-font-family: "Open Sans", "Arial";
$main-title-font-size: 49px;
$main-title-font-size-mobile: 35px;
$title-font-size: 36px;
$title-font-size-mobile: 30px;
$subtitle-font-size: 21px;
$paragraph-font-size: 16px;
$main-title-font-color: #000;
$title-font-color: #000;
$subtitle-font-color: #13253b;
$paragraph-font-color: #000;
$principal-title-color: #08a6e4;
$principal-tittle-font-size: 32px;
$header-bg-color: #ffffff;
$header-font-size: 22px;
$nav-links-color: #a5a5a5;
$nav-links-color-hover: #000000;
$nav-font-size: 11px;
$progress-bar-color:#08a6e4;
$open-shop-button-color: #08a6e4;
$first-circle-color: #fb3b64;
$second-circle-color: #08a6e4;
$third-circle-color: #55dfb4;
$big-numbers-color: #000000;
$big-numbers-font-size: 20px;
$descriptions-color: #a5a5a5;
$desriptions-font-size: 17px;
$advantages-titles-font-color: #000000;
$advantages-titles-font-size: 30px;
$section-2-background-color: #f7f7f7;
$advantages-background-color: #ffffff;
$section3-box1-button-color: #eb476e; //Box, button and price color of box 1
$section3-box2-button-color: #07ace6; //Box, button and price color of box 2
$section3-box3-button-color: #55dfb4; //Box, button and price color of box 3