/*Variables*/
$principal-title-color: #08a6e4;
$principal-tittle-font-size: 32px;
$header-bg-color: #ffffff;
$header-font-size: 22px;
$nav-links-color: #a5a5a5;
$nav-links-color-hover: #000000;
$nav-font-size: 11px;
$first-circle-color: #fb3b64;
$second-circle-color: #08a6e4;
$third-circle-color: #55dfb4;
$big-numbers-color: #000000;
$big-numbers-font-size: 20px;
$descriptions-color: #a5a5a5;
$desriptions-font-size: 17px;
$section2-titles-font-color: #000000;
$section2-titles-font-size: 30px;
$section3-box1-button-color: #eb476e; //Box, button and price color of box 1
$section3-box2-button-color: #07ace6; //Box, button and price color of box 2
$section3-box3-button-color: #55dfb4; //Box, button and price color of box 3

/*Mixin*/

@mixin circle {
  margin: 25px auto 14px;
  position: relative;
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
}

@mixin big-numbers {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: $big-numbers-font-size;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 5.96px;
  color: $big-numbers-color;
}

@mixin descriptions {
  margin-top: 19.06px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: $desriptions-font-size;
  line-height: 20px;
  /* identical to box height, or 118% */
  text-align: center;
  color: $descriptions-color;
}

@mixin section2-titles {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: $section2-titles-font-size;
  line-height: 35px;
  color: $section2-titles-font-color;
}

@mixin section-3-box {
  margin: 0 auto 54px;
  width: 293px;
  height: 251px;
  background: #ffffff;
  border-radius: 18px;
}

@mixin section-3-prices {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
}

@mixin section-3-subtitles {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
}

@mixin section-3-buttons {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  color: white;
}

@mixin limited-offer-text {
  position: relative;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253b;
}

/*CSS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*----------header + nav-----------*/

header {
  top: 0;
  position: fixed;
  height: fit-content;
  min-height: 70px;
  width: 100%;
  background: $header-bg-color;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
  font-size: $header-font-size;
  z-index: 2;
}

.menu:hover {
  .navbar {
    display: block;
  }
  .icon-1 {
    display: none;
  }
  .icon-2 {
    display: block;
  }
}

.menu_bar {
  width: 100%;
  height: max-content;

  p {
    width: fit-content;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: $principal-tittle-font-size;
    line-height: 37px;
    color: $principal-title-color;
    margin-top: 17px;
    margin-left: 25px;

    span {
      display: none;
    }
  }

  .icon {
    position: absolute;
    right: 30px;
    background: none;
  }
  .icon-1 {
    top: 29px;
    width: 20px;
    height: 12px;
    background-image: url("../images/Menu.png");
    background-size: cover;
  }
  .icon-2 {
    display: none;
    top: 27px;
    width: 15.56px;
    height: 15.56px;
    background-image: url("../images/Cruz.png");
    background-size: cover;
  }
}

.navbar {
  display: none;
  margin-top: 6px;
  padding-top: 26px;
  margin-bottom: 33.65px;
  a {
    margin-top: 14px;
    margin-left: 25px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: $nav-font-size;
    line-height: 1em;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: $nav-links-color;
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }
  a:hover {
    color: $nav-links-color-hover;
  }
}

/*----------section-1----------*/

.section-1 {
  padding-bottom: 40px;
}
.title-1 {
  margin-top: 170px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.paragraph-1 {
  margin: 20px auto 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.bt-1 {
  margin: 0 auto;
  background: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  width: 310px;
  height: 67px;

  a {
    display: block;
    padding-top: 22px;
    padding-bottom: 23px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
}

.picture-1 {
  margin: 51px auto 0;
  background-image: url("../images/Background.jpg");
  height: 267px;
  max-width: 779px;
  background-position: center center;
  background-size: cover;
}

.paragraph-2 {
  margin: 13px 36px 0 36px;
  p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
  }
}
.daily-entries,
.seen-products,
.added-post {
  width: 100%;
}

.big-numbers {
  @include big-numbers;
}

.descriptions {
  @include descriptions;
}

.first-circle {
  @include circle;
  background-color: $first-circle-color;
}
.person-body {
  position: absolute;
  left: 30.27px;
  top: 3px;
  width: 44px;
  height: 52px;
}
.second-circle {
  @include circle;
  background-color: $second-circle-color;
}
.eye {
  position: absolute;
  left: 23px;
  top: 14px;
  width: 65.43px;
  height: 36.5px;
}
.third-circle {
  @include circle;
  background-color: $third-circle-color;
}
.catalogo {
  position: absolute;
  left: 31.34px;
  top: 6px;
  width: 52px;
  height: 48px;
}

/*----------section-2----------*/

.section-2 {
  width: 100%;
  background-color: #f7f7f7;
  padding: 42px 30px;
}

.advantage-1 {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding-top: 37.11px;
  margin-bottom: 41px;
  overflow: hidden;
}

.image-1 {
  position: relative;
  margin: 0 auto;
  width: 192.76px;
  height: 109.93px;

  img {
    position: relative;
    z-index: 1;
  }
}

.item-1 {
  position: absolute;
  width: 90.12px;
  height: 90.12px;
  left: 110px;
  top: -21px;
  background: #fb3b64;
  border-radius: 41px;
  transform: rotate(-45deg);
}
.section-2-title {
  @include section2-titles;
  margin: 27px 0 0 22px;
  height: 72px;
}

.paragraph-3 {
  padding: 0 21px 30px 21px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  color: #000000;
}

.image-2 {
  position: relative;
  margin: 0 auto;
  width: 175px;
  height: 134.99px;

  img {
    position: relative;
    z-index: 1;
  }
}

.item-2 {
  position: absolute;
  margin: 0 auto;
  background-color: $second-circle-color;
  width: 131.8px;
  height: 131.8px;
  border-radius: 50%;
  top: 0;
}
.image-3 {
  position: relative;
  margin: 0 auto;
  width: 314px;
  height: 195px;

  img {
    margin: 25px 30px 0 auto;
    position: relative;
    z-index: 1;
  }
}

.item-3 {
  position: absolute;
  margin: 0 auto;
  background-color: $third-circle-color;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 314px;
  height: 195px;
  top: 0;
}

/*----------Section 3----------*/

.section-3-title {
  margin-top: 53px;
  margin-bottom: 14px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.basic-box {
  @include section-3-box;
  border: 1px solid $section3-box1-button-color;
}

.basic-subtitle {
  @include section-3-subtitles;
  margin-top: 70px;
  margin-left: 50px;
}

.basic-box:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba($section3-box1-button-color, 0.29);
}

.basic-price {
  @include section-3-prices;
  margin-left: 45px;
  color: $section3-box1-button-color;
}

.basic-submit {
  @include section-3-buttons;
  background: $section3-box1-button-color;
  top: -129px;
  left: 71.5px;
}
.basic-submit:hover {
  background-color: white;
  color: $section3-box1-button-color;
  border: 1px solid $section3-box1-button-color;
}

.item-list {
  position: relative;
  list-style: none;
  top: -133px;
  left: 168px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  width: 150px;
  color: #000000;

  li {
    margin-bottom: 20px;
  }
}

.check-yes {
  position: relative;
}

.check-yes::before {
  content: "";
  height: 10px;
  width: 10px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -18px;
  background-image: url("../images/Check-yes.png");
}

.check-not {
  position: relative;
}
.check-not::before {
  content: "";
  height: 10px;
  width: 10px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -18px;
  background-image: url("../images/Check-not.png");
}

.professional-box {
  @include section-3-box;
  border: 1px solid $section3-box2-button-color;
}

.professional-subtitle {
  @include section-3-subtitles;
  margin-top: 70px;
  margin-left: 28px;
}

.professional-box:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba($section3-box2-button-color, 0.29);
}

.professional-price {
  @include section-3-prices;
  margin-left: 48px;
  color: $section3-box2-button-color;
}

.professional-submit {
  @include section-3-buttons;
  background: $section3-box2-button-color;
  top: -143px;
  left: 71.5px;
}
.professional-submit:hover {
  background-color: white;
  color: $section3-box2-button-color;
  border: 1px solid $section3-box2-button-color;
}

.professional-offer {
  @include limited-offer-text;
  top: -205px;
  left: 51px;
}

.premium-box {
  @include section-3-box;
  border: 1px solid $section3-box3-button-color;
}

.premium-subtitle {
  @include section-3-subtitles;
  margin-top: 70px;
  margin-left: 31px;
}

.premium-box:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba($section3-box3-button-color, 0.29);
}

.premium-price {
  @include section-3-prices;
  margin-left: 35px;
  color: $section3-box3-button-color;
}

.premium-submit {
  @include section-3-buttons;
  background: $section3-box3-button-color;
  top: -143px;
  left: 71.5px;
}
.premium-submit:hover {
  background-color: white;
  color: $section3-box3-button-color;
  border: 1px solid $section3-box3-button-color;
}

.premium-offer {
  @include limited-offer-text;
  top: -205px;
  left: 37px;
}

/*----------Contact section----------*/

.contact-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  margin: 77px 0 5px 30px;
}

.contact-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-left: 30px;
}

.contact-email {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #a5a5a5;
  margin: 35px 0 17px 65px;
}

.contact-email::before {
  content: "";
  height: 18px;
  width: 22px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 2px;
  left: -32px;
  background-image: url("../images/Mail.png");
}

.contact-phone {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #a5a5a5;
  margin: 0 0 57px 65px;
}

.contact-phone::before {
  content: "";
  height: 18px;
  width: 22px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 2px;
  left: -32px;
  background-image: url("../images/Phone.png");
}

.label {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08a6e4;
}

.label-name {
  left: 30px;
}

.label-email {
  top: 68px;
  left: 30px;
}

.input {
  position: relative;
  width: 312px;
  left: 30px;
  border: none;
  border-bottom: 1px solid #95989a;
}

.input-name {
  top: 26px;
}

.input-email {
  top: 92px;
}

.data-directive {
  position: relative;
  display: block;
  top: 123px;
  left: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
  width: 312px;
  max-height: 144px;
  padding-left: 35px;
}

/* Hide the browser's default checkbox */
.data-directive input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 1;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #95989a;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.data-directive input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.data-directive .checkmark:after {
  left: 8px;
  top: 2px;
  width: 5px;
  height: 15px;
  border: solid #08a6e4;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-submit {
  @include section-3-buttons;
  background: $section3-box2-button-color;
  box-shadow: 5px 10px 14px rgba($section3-box2-button-color, 0.29);
  width: 226px;
  height: 57px;
  margin: 33px 0 44px;
  left: 56px;
}

.form-submit:hover {
  background-color: white;
  color: $section3-box2-button-color;
  border: 1px solid $section3-box2-button-color;
}

footer {
  position: relative;
  top: 250px;
  width: 100%;
  height: 89px;
  background: #f7f7f7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}

.footer-title {
  position: relative;
  width: fit-content;
  top: 23px;
  left: 17px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #08a6e4;
}

.footer-subtitle {
  position: relative;
  width: fit-content;
  top: 23px;
  left: 17px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #a5a5a5;
}

.twitter {
  position: absolute;
  top: 33px;
  right: 74px;
  height: 24px;
  width: 24px;
  background-image: url("../images/Twitter.png");
  background-size: cover;
  background-position: center center;
}

.facebook {
  position: absolute;
  top: 33px;
  right: 30px;
  height: 24px;
  width: 24px;
  background-image: url("../images/Facebook.png");
  background-size: cover;
  background-position: center center;
}

/*----------Big Screens >= 1000px----------*/

@media only screen and (min-width: 1000px) {
  
  .menu{
    margin-right: 10px;
  }

  .menu:hover {
    .navbar {
      display: flex;
    }

    .icon-2{
      display: none;
    }
  }

  .icon {
    display: none;
  }

  .menu_bar {
    margin-right: 30px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-top: 0;
      display: inline;

      span {
        display: inline;
      }
    }
  }

  .navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
      display: flex;
      
      margin-right: 105px;
      
      a{
        padding: 31px 0 24px;
        height: max-content;
        margin: 0;
      }
      a:hover {
        transition: all 250ms ease-in;
        border-bottom: 4px solid $principal-title-color;
        color: $nav-links-color-hover;
      }
    }
  }
.flex-container{
  display: flex;
  justify-content: center;
}

  .grid-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 117px 176px 163px;
    column-gap: 184px;
  }

}
