/*Variables*/
/*Mixin*/
/*CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*----------header + nav-----------*/
header {
  top: 0;
  position: fixed;
  height: 70px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
  font-size: 22px;
  z-index: 2;
}

header:hover {
  height: fit-content;
}
header:hover .navbar {
  display: block;
}
header:hover .icon {
  display: none;
}
header:hover .icon-4 {
  display: block;
}

nav {
  height: fit-content;
}

.menu_bar {
  width: 100%;
  height: max-content;
}
.menu_bar p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #08a6e4;
  margin-top: 17px;
  margin-left: 25px;
}
.menu_bar .icon {
  position: absolute;
  right: 30px;
  height: 2px;
  width: 20px;
  background: #07ace6;
}
.menu_bar .icon-1 {
  top: 29px;
}
.menu_bar .icon-2 {
  top: 34px;
}
.menu_bar .icon-3 {
  top: 39px;
}
.menu_bar .icon-4 {
  display: none;
  background: none;
  top: 24px;
  width: 15.56px;
  height: 15.56px;
  transform: rotateX("-45");
}

.navbar {
  display: none;
  margin-top: 6px;
  padding-top: 26px;
  margin-bottom: 33.65px;
}
.navbar a {
  margin-top: 14px;
  margin-left: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 1em;
  text-align: center;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  color: #a5a5a5;
  text-decoration: none;
}
.navbar a:hover {
  color: #000000;
}

/*----------section-1----------*/
.section-1 {
  padding-bottom: 40px;
}

.title-1 {
  margin-top: 170px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.paragraph-1 {
  margin: 20px auto 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.bt-1 {
  margin: 0 auto;
  background: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  width: 310px;
  height: 67px;
}
.bt-1 a {
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.picture-1 {
  margin: 51px auto 0;
  background-image: url("../images/Background.jpg");
  height: 267px;
  max-width: 779px;
  background-position: center center;
  background-size: cover;
}

.paragraph-2 {
  margin: 13px 36px 0 36px;
}
.paragraph-2 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.daily-entries,
.seen-products,
.added-post {
  width: 100%;
}

.big-numbers {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
}

.descriptions {
  margin-top: 19.06px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height, or 118% */
  text-align: center;
  color: #a5a5a5;
}

.first-circle {
  margin: 25px auto 14px;
  position: relative;
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  background-color: #fb3b64;
}

.person-body {
  position: absolute;
  left: 30.27px;
  top: 3px;
  width: 44px;
  height: 52px;
}

.second-circle {
  margin: 25px auto 14px;
  position: relative;
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  background-color: #08a6e4;
}

.eye {
  position: absolute;
  left: 23px;
  top: 14px;
  width: 65.43px;
  height: 36.5px;
}

.third-circle {
  margin: 25px auto 14px;
  position: relative;
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  background-color: #55dfb4;
}

.catalogo {
  position: absolute;
  left: 31.34px;
  top: 6px;
  width: 52px;
  height: 48px;
}

/*----------section-2----------*/
.section-2 {
  width: 100%;
  background-color: #f7f7f7;
  padding: 42px 30px;
}

.advantage-1 {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding-top: 37.11px;
  margin-bottom: 41px;
  overflow: hidden;
}

.image-1 {
  position: relative;
  margin: 0 auto;
  width: 192.76px;
  height: 109.93px;
}
.image-1 img {
  position: relative;
  z-index: 1;
}

.item-1 {
  position: absolute;
  width: 90.12px;
  height: 90.12px;
  left: 110px;
  top: -21px;
  background: #fb3b64;
  border-radius: 41px;
  transform: rotate(-45deg);
}

.section-2-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin: 27px 0 0 22px;
  height: 72px;
}

.paragraph-3 {
  padding: 0 21px 30px 21px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  color: #000000;
}

.image-2 {
  position: relative;
  margin: 0 auto;
  width: 175px;
  height: 134.99px;
}
.image-2 img {
  position: relative;
  z-index: 1;
}

.item-2 {
  position: absolute;
  margin: 0 auto;
  background-color: #08a6e4;
  width: 131.8px;
  height: 131.8px;
  border-radius: 50%;
  top: 0;
}

.image-3 {
  position: relative;
  margin: 0 auto;
  width: 314px;
  height: 195px;
}
.image-3 img {
  margin: 25px 30px 0 auto;
  position: relative;
  z-index: 1;
}

.item-3 {
  position: absolute;
  margin: 0 auto;
  background-color: #55dfb4;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 314px;
  height: 195px;
  top: 0;
}

/*----------Section 3----------*/
.section-3-title {
  margin-top: 53px;
  margin-bottom: 14px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.basic-box {
  margin: 0 auto;
  width: 293px;
  height: 251px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #EB476E;
}

.basic-subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
  margin-top: 70px;
  margin-left: 50px;
}

.basic-box:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(235, 71, 110, 0.29);
}

.basic-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  margin-left: 45px;
  color: #EB476E;
}

.item-list {
  position: relative;
  list-style: none;
  top: -133px;
  left: 168px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  width: 150px;
  color: #000000;
}
.item-list li {
  margin-bottom: 20px;
}

.check-yes {
  position: relative;
}

.check-yes::before {
  content: "";
  height: 10px;
  width: 10px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -18px;
  background-image: url("../images/Check-yes.png");
}

.check-not {
  position: relative;
}

.check-not::before {
  content: "";
  height: 10px;
  width: 10px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -18px;
  background-image: url("../images/Check-not.png");
}

.basic-submit {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  color: white;
  background: #EB476E;
  top: -129px;
  left: 71.5px;
}

.basic-submit:hover {
  background-color: white;
  color: #EB476E;
  border: 1px solid #EB476E;
}

/*# sourceMappingURL=styles.css.map */
