/*Variables*/
$principal-title-color: #08a6e4;
$principal-tittle-font-size: 32px;
$header-bg-color: #ffffff;
$header-font-size: 22px;
$nav-links-color: #a5a5a5;
$nav-links-color-hover: #000000;
$nav-icons-bg-color: #07ace6;
$nav-font-size: 11px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  top: 0;
  position: fixed;
  height: 70px;
  width: 100%;
  background: $header-bg-color;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.29);
  font-size: $header-font-size;
}

header:hover {
  height: fit-content;
  .navbar {
    display: block;
  }
  .icon {
    display: none;
  }
  .icon-4 {
    display: block;
  }
}

nav {
  height: fit-content;
}

.menu_bar {
  width: 100%;
  height: max-content;

  p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: $principal-tittle-font-size;
    line-height: 37px;
    color: $principal-title-color;
    margin-top: 17px;
    margin-left: 25px;
  }

  .icon {
    position: absolute;
    right: 30px;
    height: 2px;
    width: 20px;
    background: $nav-icons-bg-color;
  }
  .icon-1 {
    top: 29px;
  }
  .icon-2 {
    top: 34px;
  }
  .icon-3 {
    top: 39px;
  }
  .icon-4 {
    display: none;
    background: none;
    top: 24px;
    width: 15.56px;
    height: 15.56px;
    transform: rotateX("-45");
  }
}

.navbar {
  display: none;
  margin-top: 6px;
  padding-top: 26px;
  margin-bottom: 33.65px;
  a {
    margin-top: 14px;
    margin-left: 25px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: $nav-font-size;
    line-height: 1em;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: $nav-links-color;
    text-decoration: none;
  }
  a:hover {
    color: $nav-links-color-hover;
  }
}
.title-1 {
  margin-top: 170px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.paragraph-1 {
  margin: 20px auto 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.bt-1 {
  margin: 0 auto;
  background: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  width: 310px;
  height: 67px;

  a {
    display: block;
    padding-top:22px;
    padding-bottom: 23px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
}
